# Ignore virtual environments
venv/
.env
*.pyc
__pycache__/

# Streamlit config
.streamlit/secrets.toml

# OS-specific files
.DS_Store
Thumbs.db

# VS Code config
.vscode/

# Jupyter notebook checkpoints (if ever used)
.ipynb_checkpoints/
